################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TfsUtils/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TfsUtils/obj/Debug/netcoreapp2.1
/TfsUtils/obj
/Program/obj
/.vs
/MailReporter/bin/Debug
/MailReporter/obj/Debug
/MailReporter2/bin/Debug
/MailReporter2/obj/Debug
/MailReporter2
/TfsQueryReporter/bin/Debug
/TfsQueryReporter/obj/Debug
/TfsQueryReporter2/bin/Debug/netcoreapp2.0
/TfsQueryReporter2
/TfsUtils/bin/Debug
*.user
/Program/bin/Debug/netcoreapp2.1
