<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="BaseUrl" value ="my-base-url"/>
    <add key ="ProjectGuid" value ="my-project-guid"/>
    <add key ="ImportantFields" value="myfield1;myfield2;myfield3;myfield4"/>
    <add key ="smtpHost" value="my-smtp-host"/>
    <add key ="MailFrom" value ="me@organization.com"/>
    <add key ="Recipients" value ="recip1@organization.com;recip2@organization.com"/>
    <add key ="queryGuid" value="01234567-d96b-4f03-9ceb-1b49de27ef41"/>
    <add key ="queryTitle" value="oh Query my query"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

</configuration>
