<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://some_tfs_server/" />
    <add key="ProjectGuid" value="12345678-d626-4499-94ae-563a86a88d0a" />
    <add key="smtpHost" value="myhost" />
    <add key="queryGuid" value="12345678-d96b-4f03-9ceb-1b49de27ef41" />
    <add key="MailFrom" value="me@organization.com" />
    <add key="Recipients" value="recip1@orgnization.com;recip2@orgnization.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>